<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <script src="{% static 'js/utils.js' %}"></script>
    <div class="index-page-img">
        <div class="button-group">
            <div class="button-div">
                <a href="/phd/phd_insert/"><button class="buttons" id="phd_insert">Insert PhD Information</button></a>
            </div>
            <div class="button-div">
                <a href="/phd/phd_update/"><button class="buttons" id="phd_update">Update PhD Information</button></a>
            </div>
            <div class="button-div">
                <a href="/phd/phd_query_page/"><button class="buttons" id="phd_query">Query PhD Information</button></a>
            </div>
        </div>
    </div>
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>