<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>PhD Scholar Information</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_number">ID Number</label>
  <div class="col-md-5">
  <input id="id_number" name="textinput" placeholder="" class="form-control input-md" required="" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="scholar_name">Name</label>
  <div class="col-md-4">
  <input id="scholar_name" name="textinput" placeholder="" class="form-control input-md" type="text">

  </div>
</div>

</fieldset>
</form>
