<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
        {% if id_number_dn_exist %}
            <script>alert('{{ id_number_dn_exist }}');</script>
        {% endif %}
    <script src="{% static 'js/utils.js' %}"></script>
    <div class="update-page-img">
        <form id="phd_update_form" method="post">
            {% csrf_token %}
            
            <div class="button-group">
                <div class="input-group">
                    <label class="control-label" for="id_number">Thesis ID</label>
                    <input id="id_number" name="id_number" placeholder="" class="form-control input-md" required />
                </div>
                <div class="button-div">
                    <button class="buttons" type="submit" id="phd_scholar" formaction="/phd/render_update_form/" onclick="">PhD Scholar Information</button>
                </div>
                <div class="button-div">
                    <button class="buttons" type="submit" id="phd_thesis" formaction="/phd/render_update_form/">PhD Thesis Information</button>
                </div>
                <div class="button-div">
                    <button class="buttons" type="submit" id="phd_qualifying">PhD Scholar Qualifying Exam Information</button>
                </div>
                <div class="button-div">
                    <button class="buttons" type="submit" id="phd_scholar_courses">PhD Scholar Courses</button>
                </div>
                <input type="hidden" id="source" name="source" value="" />
            </div>
        </form>
    </div>
    
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <script>
        $(document).ready(function(){
            var clicked_button = "";
            $('.buttons').click(function(evt){
                clicked_button = evt.target.id;
                var source = document.getElementById("source");
                source.value = clicked_button;
            });
        });
    </script>
</body>
</html>