<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Include jQuery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <ul class="navbar">
        <li class="navbar-item"><a class="active" href="/phd/">Home</a></li>
    </ul>
        {% if id_number_dn_exist %}
            <script>alert('{{ id_number_dn_exist }}');</script>
        {% endif %}
    
        {% if no_scholar_courses %}
            <script>alert(' {{ no_scholar_courses }} ');</script>
        {% endif %}
        
        {% if no_qualifying_exam %}
            <script>alert(' {{ no_qualifying_exam }} ');</script>
        {% endif %}
        
        
    <script src="{% static 'js/utils.js' %}"></script>
    <div class="update-page-img">
        <form id="phd_query_form" method="post" onsubmit="return validate_update_form()">
            {% csrf_token %}
            
            <div class="button-group">
                <div class="input-div">
                    <select id="id_number" name="id_number" class="form-input"></select>
                </div>
                <div class="button-div">
                    <button class="buttons" type="submit" id="phd_scholar_profile">PhD Scholar Profile</button>
                </div>
            </div>
        </form>
        <div class="button-div">
            <a href="/phd/general_course_info" ><button class="buttons" id="general_course_info">General Course Information</button></a>
        </div>

        <div class="button-div">
            <a href="/phd/phd_advanced_query" ><button class="buttons" id="phd_advanced_query">PhD Advanced Query</button></a>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        var id_number_options = "<option value='0'>Select Scholar ID Number</option>"
    </script>
    {% if phd_scholars %}
        {% for scholar in phd_scholars %}
    <script>
        id_number_options += "<option value={{ scholar.id_number }}>{{ scholar.id_number }}</option>"
    </script>
        {% endfor %}
    {% endif %}
    <script>
        document.getElementById("id_number").innerHTML = id_number_options;
    </script>
    <script>
    var query_form  = document.getElementById("phd_query_form");
    query_form.addEventListener("submit", function(){
    var id_number = query_form.getElementsByTagName('select')[0].value;
    action = "/phd/phd_scholar_profile/" + id_number.toString() + "/"
    document.getElementById("phd_query_form").setAttribute("action", action);
    });
</script>
    <script>
        jQuery.noConflict();
        $(document).ready(function($){
            $("#id_number").select2();
            var clicked_button = "";
            $('.buttons').click(function(evt){
                clicked_button = evt.target.id;
                var source = document.getElementById("source");
                source.value = clicked_button;
            });
        });
    </script>

  
</body>
</html>