
html, body {
    height: 100%;
    margin: 0;
}

#insert-link{
    display: block;
    padding: 15px 0px;
}


.button-div {
    width: 400px;
    height: 100px;
    margin: 0 auto;

}
.input-div {
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

.input-div .form-input{
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out;
}

.form-input:focus{
    outline: none;
    border: 1.5px solid #80bdff;
    border-radius: 5px;
}


.buttons {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background .5s;
}

.buttons, .input-div .form-input{
    width: 100%;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
}

.buttons:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}


.button-group {
    padding-top: 150px;
}



.update-page-img {
    background-image: url("/static/img/bits.jpg");


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;

}

.index-page-img {
    background-image: url("/static/img/bits2.jpg");


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.readonly{
	cursor: default;
}

.readonly:focus{
	box-shadow: 0 0 0 0;
	border-color: #ced4da;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
}

#select2-id_number-container{
    width: 400px;
    height: 100px;
    margin: 0 auto;
}

.table-div {
    width : 400px;
    margin: 0 auto;

}
table {
  padding-top: 20px;
  padding-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  height: 50px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}

table td:last-child {
    width: 30%;
}

.attribute {
    text-align: left;

}

.value {
    text-align: middle;

}

.horizontal-rule{
    width: 100%
    margin: 0 auto;

}
hr {
    width: 15%;
    display: block;
    background-color: black;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.course-heading {
    font-size: 11px;

}

select {
  border: 10px solid transparent
}


.row-query {
  display: flex; /* equal height of the children */
}

.filter-query-form {
  flex: 0.70; /* additionally, equal width */
  border: solid;
  padding: 1em;
}

.filter-query-list {
  flex: 0.30; /* additionally, equal width */
  border: solid;
  padding: 1em;
  overflow: scroll;
  height:1250px;

}

#advanced_query_form{
    margin-bottom: 10px;
}
